
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ClientApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="~/styles.ac89bfdd6de82636b768.bundle.css" rel="stylesheet" />
</head>

<body>
	<input type="hidden" id="userdata" value="@ViewData["data"]" />

	<app-root></app-root>

	<script type="text/javascript" src="inline.318b50c57b4eba3d437b.bundle.js"></script>
	<script type="text/javascript" src="polyfills.16286cde992a53adbc8d.bundle.js"></script>
	<script type="text/javascript" src="main.a684cc4ea6e1a8c9838f.bundle.js"></script>

</body>

</html>
